@font-face { 
   font-family: Netflix_Sans_Rg; /* Netflix Sans 폰트 */
    src: url(../font/Netflix_Sans_Rg.woff2) }
   
@font-face {
    font-family: Netflix_Sans_Lt; /* Huge San-serif 폰트 */
           src: url(../font/NetflixSans_W_Lt.woff2) }

body {color:white; background-color: black;}

/* 텍스트 위계 */

h1 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 64px; font-weight:500; line-height: normal; }
.h1_sans { font-size: 44px;}

h2 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 24px; font-weight:400; line-height: normal; }
h3 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 22px; font-weight:100; line-height: normal; }
h4 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 20px; font-weight:100; line-height: 1.6; }
h5 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 18px; font-weight:100; line-height: normal; }
h6 {font-family: Netflix_Sans_Rg, Arial, Helvetica, sans-serif; font-size: 16px; font-weight:100; line-height: normal; }

/* 공통 사항 */

.color_white {color:white;}

.text_align_center {text-align: center;}

/* header */

#logo {width: 132px; height: 40px;} 

.home_header { width:100%; height:100px; padding: 25px 40px; display:flex; justify-content: space-between; position: absolute; top:0; left:0;}

.home_header button {width:72px; height: 36px; background-color: #e50914; text-align: center; line-height: 36px; border-radius: 4px; }


/* hero */

.home_hero { width:100%; height:100vh; 
   background-image: url(../img/bg_large.jpg); background-size: cover; background-position: center; border-bottom: 8px solid #222; } 

.hero_container {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; background-color: rgba(0,0,0,0.4); background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%); }

.home_hero h1 { margin-bottom: 30px; text-align: center;}
.home_hero h2 {margin-bottom: 30px; text-align: center; line-height: 1.6; }

.form_email_container { width: 100%; display: flex; flex-direction: column; margin-top: 60px; }
.form_email {width:760px; height: auto; display: flex; justify-content: center; align-items: center;
margin: 20px auto; }

.margin_top_60 {margin-top: 60px;}

.form_email input { width:500px; height: 60px; background-color: white; color:gray; line-height: 60px; padding: 0 20px; font-size: 18px; border-radius: 6px 0 0 6px; position: relative; z-index: 2;}

.form_email button {
   width: 260px; height: 60px; text-align: center; background-color:#e50914;
   border-radius: 0 6px 6px 0; position: relative; z-index: 2;

}
.form_email_p {width: 80%; text-align: center; margin: 0 auto; }

.home_hero h4 {line-height: 60px;  color:white;}


/* feature */

/* feature1 */

.feature {width: 100%; height: auto;  background-color: rgba(0,0,0,1);  padding: 70px 45px; border-bottom: 8px solid #222;}

.feature_container { }

.feature1_ul { max-width: 1200px; height: 100%; display:flex; justify-content: space-between; align-items: center; margin: 0 auto; flex-direction: row; }
.feature1_ul li:first-child {width: 52%; height: 100%; }
.feature1_title { margin-bottom: 20px; font-size: 44px; }
.feature1_subtitle { line-height: 1.6; word-break: keep-all;}

.feature1_ul li:last-child {width: 48%; height: 100%; position: relative; overflow: hidden; }
.feature1_img {max-width: 100%;  position: relative; z-index: 2; }
.feature1_video_container { position: absolute; z-index: 1; top:0; left: 0; width: 100%;
   height: 100%; max-width: 73%; max-height: 54%; top: 46%;
   left: 50%; transform: translate(-50%, -50%);}
.feature1_video { width: 100%; height: 100%;
    }


/* feature2 */

.feature {width: 100%; height: auto;  background-color: rgba(0,0,0,1);  padding: 70px 45px; border-bottom: 8px solid #222;}

.feature_container { }

.feature2_ul { max-width: 1200px; height: 100%; display:flex; justify-content: space-between; align-items: center; margin: 0 auto; flex-direction: row; }

.feature2_ul li:first-child {width: 48%; height: 100%; position: relative; }

.feature2_img {max-width: 100%;  position: relative; z-index: 1; }
.feature2_video_container { position: absolute; z-index: 2; top:0; left: 0; width: 60%; height: 20%; top:80%; left: 50%; transform: translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);
-moz-transform:translate(-50%, -50%); 
    background-color: black;
border:1px solid white; border-radius: 18px; padding: 12px; display: flex; justify-content: space-between; }
.feature2_img_2 { height: 100%;  }
.feature2_video_text { display: flex; justify-content: center; flex-direction: column; height: 100%; padding-left: 20px;}
.feature2_video_text p:last-child {color:#0071eb; margin-top:4px;}
.feature2_img_3 { height: 100%;  }

.feature2_ul li:last-child {width: 52%; height: 100%; position: relative; overflow: hidden;  }

.feature2_title { margin-bottom: 20px; font-size: 44px;}
.feature2_subtitle { line-height: 1.6; word-break: keep-all;}

    /* feature3 */

.feature {width: 100%; height: auto;  background-color: rgba(0,0,0,1);  padding: 70px 45px; border-bottom: 8px solid #222;}

.feature_container { }

.feature3_ul { max-width: 1200px; height: 100%; display:flex; justify-content: space-between; align-items: center; margin: 0 auto; flex-direction: row; }

.feature3_ul li:first-child {width: 52%; height: 100%;}

.feature3_title { margin-bottom: 20px; font-size: 44px;}
.feature3_subtitle { line-height: 1.6; word-break: keep-all;}

.feature3_ul li:last-child {width: 48%; height: 100%; position: relative; overflow: hidden; }
.feature3_img {max-width: 100%;  position: relative; z-index: 2; }
.feature3_video_container { position: absolute; z-index: 1; top:0; left: 0; width: 100%; height: 100%; max-width: 63%; max-height: 47%; top: 34%;
   left: 50%; transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform:translate(-50%, -50%); 
}
.feature3_video { width: 100%; height: 100%;
    }

/* faq */

.faq {width: 100%; height: auto;  background-color: rgba(0,0,0,1);  padding: 100px 60px;  border-bottom: 8px solid #222;}

.faq_container {width: 100%; height: auto; display:block; }

.faq_title { width: 80%; margin: 0 auto 60px; text-align: center; font-size: 44px;}


.faq_accordion {width: 80%; min-width: 600px; max-width: 1160px; height: 70px;  padding: 0 40px; display: flex; align-items: center; justify-content: space-between; background-color: #303030; margin: 20px auto 1px; border-radius: 4px;}

.faq_accordion::after { width: 18px; height: 18px;  background-image: url(../img/icon_plus.svg); content: ''; transition: transform 0.5s;}

.active::after {  transform: rotate(45deg);  }

.faq_panel {width: 80%; min-width: 600px; max-width: 1160px; margin: 0 auto; padding: 40px; background-color: #303030; display:none; overflow: hidden; border-radius: 4px; }

.faq_text {line-height:36px; color: white;}



/* footer */

.home_footer { width: 100%; height: auto; display:block; padding: 90px 60px;
color:#757575;}
.footer_container { max-width: 1160px; width: 100%; height: 100%; margin: 0 auto; display:flex; flex-direction: column; justify-content: flex-start; }
.footer_title {margin-bottom: 30px;}
.footer_ul {width: 100%; display: flex; flex-wrap: wrap; font-size: 13px;}
.footer_ul li {width:25%; padding-right: 12px; margin-bottom: 16px; }

.footer_select { border: 1px solid #757575; border-radius: 6px; padding: 12px;
margin-bottom: 20px;}
.footer_country { margin-bottom: 20px;}

.footer_aside { font-size: 13px; line-height: 1.4;}


@media screen and (max-width:1279px) { 

   .feature1_title, .feature2_title, .feature3_title { text-align: center;  font-size: 40px;}
   .feature1_subtitle, .feature2_subtitle, .feature3_subtitle {text-align: center; font-size: 20px;}
 }

@media screen and (max-width:1079px) {
  
   h1 {font-size: 50px;}
   .h1_sans { font-size: 20px;}

   .form_email_container { flex-direction:column-reverse; }
   .form_email {width: 60%; flex-direction: column; height: auto;}
   .form_email input { margin-bottom: 20px; border-radius: 4px; height: 60px;}
   .form_email button {border-radius: 4px; width: 180px; height: 44px; }
   .home_hero h4 {line-height: 44px; font-size: 18px; }
 
   /* Feature */

   .feature1_ul {  flex-direction: column; }
   .feature1_ul li:first-child {width: 85%;}
   .feature1_title { text-align: center;  font-size: 40px;}
   .feature1_subtitle {text-align: center; font-size: 20px;}
   .feature1_ul li:last-child {width: 72%; }

   .feature2_ul {  flex-direction: column-reverse; }
   .feature2_ul li:first-child {width: 72%;}
   .feature2_title { text-align: center;  font-size: 40px;}
   .feature2_subtitle {text-align: center; font-size: 20px;}
   .feature2_ul li:last-child {width: 85%; }

   .feature3_ul {  flex-direction: column; }
   .feature3_ul li:first-child {width: 85%;}
   .feature3_title { text-align: center;  font-size: 40px;}
   .feature3_subtitle {text-align: center; font-size: 20px;}
   .feature3_ul li:last-child {width: 72%; }

   /* faq */
   .faq { padding: 100px 40px;}
   .h1_sans {font-size: 40px;}  
   .faq_accordion {width: 100%; min-width: 100px; height: 58px; }
   .faq_accordion h2 {font-size: 20px;}
   .faq_panel {width: 100%; min-width: 0;  }
   .faq_text {line-height:28px; font-size: 20px; color: white;}
   
   }

@media screen and (max-width:740px) {
   .form_email input { height: 44px; }
   
   }

@media screen and (max-width:549px) {

   
   h1 { font-size: 32px;}
   h2 { font-size: 18px;}
  
   #logo {width: 100px; height: 24px;}
   .home_header {padding: 20px 20px; } 
   .home_header button {width:60px; height: 24px; line-height: 24px; border-radius: 4px; font-size: 14px;}

   .home_hero { height:100vh;}
   .hero_container {padding: 40px 20px;}
   
   .home_hero h1 { margin-bottom: 20px; margin-top: 60px; }
   .home_hero h2 {text-align: center; line-height: 24px; margin-bottom: 0px; }
   .home_hero h2 span { }

   .form_email {width:90%; }
   .form_email input { width:90%; font-size: 14px; line-height: 44px; }
   .form_email_p {font-size:14px; font-weight: 100; width: 72%; line-height: 20px; word-break: keep-all;}

   .form_email button {border-radius: 4px; width: 120px; height: 36px; }
   .form_email h4 {line-height: 36px; font-size: 14px; }

   /* feature */
   .feature { padding: 70px 20px;}

   .feature1_title {font-size: 24px;}
   .feature2_title {font-size: 24px;}
   .feature3_title {font-size: 24px;}
   .feature1_subtitle, .feature2_subtitle, .feature3_subtitle {font-size: 14px;}

   .feature2_video_container {border-radius: 8px; padding: 6px; width: 72%;}
   .feature2_video_text p {font-size: 10px; line-height: 12px; margin: 0;}

    /* Feature */

    .feature1_ul {  flex-direction: column; }
    .feature1_ul li:first-child {width: 100%;}
    .feature1_ul li:last-child {width: 100%; }
 
    .feature2_ul {  flex-direction: column-reverse; }
    .feature2_ul li:first-child {width: 100%;}
    .feature2_ul li:last-child {width: 100%; }
 
    .feature3_ul {  flex-direction: column; }
    .feature3_ul li:first-child {width: 100%;}
    .feature3_ul li:last-child {width: 100%; }

   /* faq */
   .faq { padding: 100px 20px;}
   .faq_title {font-size: 24px;}  
   .faq_accordion {width: 100%; min-width: 240px; height: 58px; padding: 0 10px; margin-top: 10px; }
   .faq_accordion h2 {font-size: 12px;}
   .faq_accordion::after { width: 12px; height: 12px;}
   .faq_panel {width: 100%;  padding: 10px; }
   .faq_text {line-height:24px; font-size: 12px; color: white;}

   /* footer */

.home_footer { padding: 90px 20px; }
.footer_container { }

.footer_title {}
.footer_ul {width: 100%; display: flex; flex-wrap: wrap; font-size: 12px;}
.footer_ul li {width:50%; margin-bottom: 16px; }
   
.footer_select { border: 1px solid #757575; border-radius: 6px; padding: 12px;
   margin-bottom: 20px; font-size: 12px;}
.footer_country { margin-bottom: 20px;}   
.footer_aside { font-size: 12px; line-height: 1.4; word-break: keep-all;}
.footer_aside span {display: block;}
   

   }

@media screen and (max-width:500px) {

  
   
   }